<%= render 'new' %>

<% if @lists.any? %>
  <h1>
    Listas
    <button type="button" class="btn btn-sm btn-primary btn-new" data-toggle="modal" data-target="#new-list">
      <%= glyph(:plus, {}) %> Nova Lista
    </button>
  </h1>

  <%= paginate @lists %>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome do Arquivo</th>
          <th>Status</th>
          <th>Emails Únicos</th>
          <th>Válidos</th>
          <th>Inválidos</th>
          <th colspan="2">Desconhecidos</th>
        </tr>
      </thead>
      <tbody>
        <% @lists.each do |list| %>
          <tr>
            <td><%= list.name %></td>
            <td><%= list.status %></td>
            <td class="emails-count-<%= list.id %>"><%= list.emails_count %></td>
            <td><%= link_to glyph(:download, {}) + ' ' + list.valids_count.to_s, list_download_path(list, format: :txt), title: 'Baixar Lista (emails válidos)', class: "btn btn-xs btn-primary #{'disabled' if not list.status == 'Validação Concluída'}" %></td>
            <td><%= link_to glyph(:download, {}) + ' ' + list.invalids_count.to_s, list_download_path(list, format: :txt), title: 'Baixar Lista (emails inválidos)', class: "btn btn-xs btn-primary #{'disabled' if not list.status == 'Validação Concluída'}" %></td>
            <td><%= link_to glyph(:download, {}) + ' ' + list.unknowns_count.to_s, list_download_path(list, format: :txt), title: 'Baixar Lista (emails desconhecidos)', class: "btn btn-xs btn-primary #{'disabled' if not list.status == 'Validação Concluída'}" %></td>
            <td class="right">
              <%= link_to 'Validar!', list_validate_path(list), title: 'Validar Lista', data: {method: :post, confirm: 'Tem certeza de que deseja validar esta lista?'}, class: "btn btn-xs btn-success #{'disabled' if not list.status == 'Importação Concluída'}" %>
              <%= link_to glyph(:trash, {}), list_path(list), title: 'Excluir Lista', data: {method: :delete, confirm: 'Tem certeza de que deseja excluir esta lista?'}, class: 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @lists %>
<% else %>
  <div class="jumbotron">
    <h1>Listas</h1>

    <h3><strong>Você ainda não criou nenhuma lista :/</strong></h3>

    <p>Antes de começar a criar suas campanhas, você precisa enviar uma lista com o email dos seus clientes. Fazer isso é muito simples. Basta clicar no botão abaixo e escolher uma lista salva no seu PC, Notebook, Tablet ou Smartphone :)</p>

    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#new-list">
      <%= glyph(:plus, {}) %> Nova Lista
    </button>
  </div>
<% end %>
