<%= render 'new' %>

<% if @lists.any? %>
  <h1>
    Listas
    <button type="button" class="btn btn-sm btn-primary btn-new" data-toggle="modal" data-target="#new-list">
      <%= glyph(:plus, {}) %> Nova Lista
    </button>
  </h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome do Arquivo</th>
          <th>Emails Únicos</th>
          <th>Emails Válidos</th>
          <th colspan="2">Importação</th>
        </tr>
      </thead>
      <tbody>
        <% @lists.each do |list| %>
          <tr>
            <td><%= list.name %></td>
            <td class="emails-count-<%= list.id %>"><%= list.list_items.count %></td>
            <td class="valid-emails-count-<%= list.id %>"><%= list.list_items.valid.count %></td>
            <td><%= list.import_finished ? 'Concluída' : 'Em Andamento' %></td>

            <td class="right">
              <%= link_to glyph(:download, {}), list_download_path(list, format: :txt), title: 'Baixar Lista Validada', class: 'btn btn-xs btn-primary' %>

              <%= link_to glyph(:trash, {}), list_path(list), title: 'Excluir Lista', data: {method: :delete, confirm: 'Tem certeza de que deseja excluir esta lista?'}, class: 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="jumbotron">
    <h1>Listas</h1>

    <h3><strong>Você ainda não criou nenhuma lista :/</strong></h3>

    <p>Antes de começar a criar suas campanhas, você precisa enviar uma lista com o email dos seus clientes. Fazer isso é muito simples. Basta clicar no botão abaixo e escolher uma lista salva no seu PC, Notebook, Tablet ou Smartphone :)</p>

    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#new-list">
      <%= glyph(:plus, {}) %> Nova Lista
    </button>
  </div>
<% end %>
