<%= render 'new' %>

<% if @campaigns.any? %>
  <h1>
    Campanhas
    <button type="button" class="btn btn-sm btn-primary btn-new" data-toggle="modal" data-target="#new-campaign">
      <%= glyph(:plus, {}) %> Nova Campanha
    </button>
  </h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome da Campanha</th>
          <th>Status</th>
          <th>Alcance</th>
          <th>Enviados</th>
          <th>Entregues</th>
          <th>Abertos</th>
          <th>Clicados</th>
          <th>Descadastrados</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @campaigns.each do |campaign| %>
          <tr>
            <td><%= campaign.name %></td>
            <td><%= campaign.shots.count == campaign.shots.queued.count ? 'Disparada' : campaign.status %></td>
            <td><%= campaign.shots.count %></td>
            <td><%= campaign.shots.queued.count %></td>
            <td><%= campaign.shots.relayed.count %></td>
            <td><%= campaign.shots.opened.count %></td>
            <td><%= campaign.shots.clicked.count %></td>
            <td><%= campaign.shots.unsubscribed.count %></td>
            <td class="right">
              <%= link_to 'Disparar!', campaign_chase_path(campaign), class: "btn btn-xs btn-success #{'disabled' if not campaign.status == 'Pronta para Disparar'}" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% elsif List.where(import_finished: true).any? && Newsletter.any? %>
  <div class="jumbotron">
    <h1>Campanhas</h1>

    <h3><strong>Você ainda não criou nenhuma campanha :/</strong></h3>

    <p>Chegou a hora de criar suas campanhas e divulgar seus produtos e serviços. Fazer isso é muito simples. Basta clicar no botão abaixo para escolher uma lista de clientes e qual newsletter deseja enviar.</p>

    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#new-campaign">
      <%= glyph(:plus, {}) %> Nova Campanha
    </button>
  </div>
<% else %>
  <div class="jumbotron">
    <h1>Campanhas</h1>

    <h3><strong>Você ainda não criou nenhuma campanha :/</strong></h3>

    <p>Antes de começar a criar suas campanhas, você precisa enviar uma lista e criar uma newsletter com as informações que gostaria de divulgar. Fazer isso é muito simples. Basta navegar pelo menu no topo da página e seguir as informações da tela. Depois, é só retornar aqui para continuar com a criação de sua campanha :)</p>
  </div>
<% end %>
